img {
    width : 200px;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(173, 248, 255);
    color :black
}

.topnav{
    z-index: 5;
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: black;
    padding: 0px;
    display: flex;
    align-items: left;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 20px 50px 15px 50px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

.topnav a:hover{
    background-color: lightskyblue;
    color: black;
}

.footer{
    background-color: darkblue;
}

.logoBar{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 600px 25px 600px;
    justify-content: space-between;
}