img {
    width : 200px;
}

body {
    margin: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(173, 248, 255);
    color :darkblue
}

.topnav{
    z-index: 5;
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: lightskyblue;
    padding: 0px;
    display: flex;
    align-items: left;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 20px 50px 15px 50px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}

.topnav a:hover{
    background-color: rgb(173, 248, 255);
    color: rgb(130, 179, 232);
}

.topnav a.current{
    background-color: rgb(194, 232, 255);
}

/* Dropdown Button */
.topnav.dropbtn {

    padding: 16px;

    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}














.home{
    padding: 125px 500px 200px 400px;
    align-items: center;
    text-align: left;
    align-items: center;
    display:flex
}

.blankPage{
    padding: 125px 500px 100px 400px;
    /* padding: 125px 500px 500px 400px; */
    align-items: center;
    font-size: larger;
}

.home.underneath{
    padding: 0px 500px 50px 400px;
    z-index: 5;
}

.homeImage{
    padding: 50px 0px 25px 0px;
}








.footer{
    background-color: darkblue;
}

.logoBar{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 600px 25px 600px;
    justify-content: space-between;
}